<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dana.danapay.menu.model.dao.MenuMapper">

    <resultMap id="menuResponse" type="com.dana.danapay.menu.model.dto.menuDTO">
        <id property="menuCode" column="MENU_CODE"/>
        <result property="menuName" column="MENU_NAME"/>
        <result property="menuPrice" column="MENU_PRICE"/>
        <result property="isOrder" column="ISORDER"/>
        <result property="sCode" column="S_CODE"/>
    </resultMap>

<!--  메뉴 등록  -->
    <insert id="insertMenu">
        MERGE INTO MENU m
            USING (
            <foreach collection="list" item="menu" index="index" separator="UNION ALL">
                SELECT #{menu.menuName} AS menuName
                     , #{menu.menuPrice} AS menuPrice
                     , #{menu.sCode} AS sCode
                  FROM dual
            </foreach>
            ) new_menu
            ON (m.MENU_NAME = new_menu.menuName AND m.S_CODE = new_menu.sCode)
            WHEN MATCHED THEN
                UPDATE SET m.MENU_PRICE = new_menu.menuPrice
            WHEN NOT MATCHED THEN
                INSERT (MENU_CODE, MENU_NAME, MENU_PRICE, S_CODE)
                VALUES (menu_seq.nextval, new_menu.menuName, new_menu.menuPrice, new_menu.sCode)
    </insert>

    <select id="selectMenuList" resultMap="menuResponse">
        SELECT
            MENU_CODE,
            MENU_NAME,
            MENU_PRICE,
            ISORDER
        FROM MENU
        WHERE S_CODE = #{sCode}
        <if test="menuCode != null and menuCode != ''">
          AND MENU_CODE = #{menuCode}
        </if>
        ORDER BY 1
    </select>

    <update id="updateMenu">
            UPDATE MENU
            SET S_CODE = #{sCode}
            <if test="menuName != null and menuName != ''">
                , MENU_NAME = #{menuName}
            </if>
            <if test="menuPrice != null and menuPrice != 0">
                , MENU_PRICE = #{menuPrice}
            </if>
            <if test="isOrder != null and isOrder != ''">
                , ISORDER = #{isOrder}
            </if>
            WHERE MENU_CODE = #{menuCode}
            AND S_CODE = #{sCode}
    </update>

    <update id="patchMenu" parameterType="java.util.List">
        <foreach collection="list" item="menu" index="index" separator=";" open="DECLARE BEGIN" close="; END;" >
            UPDATE MENU
            SET
            S_CODE = #{menu.sCode}
            <if test="menu.menuPrice != null and menu.menuPrice != 0">
                , MENU_PRICE = #{menu.menuPrice}
            </if>
            <if test="menu.isOrder != null and menu.isOrder != '' and menu.isOrder != 'null'">
                , ISORDER = #{menu.isOrder}
            </if>
            <if test="menu.menuName != null and menu.menuName != '' and menu.menuName != 'null'">
                , MENU_NAME = #{menu.menuName}
            </if>
            WHERE MENU_CODE = #{menu.menuCode} AND S_CODE = #{menu.sCode}
        </foreach>
    </update>

    <delete id="deleteMenu">
        DELETE FROM MENU WHERE S_CODE = #{sCode} AND MENU_CODE = #{menuCode}
    </delete>

    <delete id="deleteMenuList">
        <foreach collection="list" item="menuCode" index="index" separator=";" open="DECLARE BEGIN" close="; END;" >
            DELETE FROM MENU WHERE S_CODE = #{sCode} AND MENU_CODE = #{menuCode}
        </foreach>
    </delete>

</mapper>