<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dana.danapay.money.model.dao.MoneyMapper">

    <!-- MONEY-1. 예치금 조회 -->
    <resultMap id="searchMoneyResultMap" type="com.dana.danapay.money.model.dto.MoneyDTO" >
        <id property="moneyCode" column="MONEY_CODE"/>
        <result property="code" column="CODE"/>
        <result property="option" column="OPTION"/>
        <result property="money" column="MONEY"/>
        <result property="moneyDate" column="MONEY_DATE"/>
    </resultMap>


    <!-- MONEY-1. 예치금 조회 -->
    <select id="searchMoneyByCode" resultMap="searchMoneyResultMap">
        SELECT * FROM MONEY
        WHERE CODE = #{code}
    </select>

    <!-- MONEY-3. 예치금 충전 -->
    <insert id="chargeMoney" parameterType="com.dana.danapay.money.model.dto.MoneyDTO">
        INSERT INTO MONEY
        (MONEY_CODE, CODE, "OPTION", MONEY, "MONEY_DATE")
        VALUES
        (MONEY_SEQ.NEXTVAL, #{code}, #{option}, #{money}, SYSDATE)
    </insert>


</mapper>