<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dana.danapay.orders.model.dao.OrdersMapper">

    <!-- ORDERS-1. 선택 메뉴 주문 -->
    <resultMap id="orderResultMap" type="com.dana.danapay.orders.model.dto.OrdersDTO">
        <id property="orderCode" column="ORDER_CODE"/>
        <result property="code" column="CODE"/>
        <result property="orderDate" column="ORDER_DATE"/>
        <result property="totalPrice" column="TOTAL_PRICE"/>
        <result property="totalAmount" column="TOTAL_AMOUNT"/>
        <result property="status" column="STATUS"/>
        <result property="sCode" column="S_CODE"/>
        <collection property="orderMenuList" resultMap="orderMenuResultMap" />
    </resultMap>

    <!-- ORDERS-1. 선택 메뉴 주문 - 메뉴 -->
    <resultMap id="orderMenuResultMap" type="com.dana.danapay.orderMenu.model.dto.OrderMenuDTO">
        <id property="menuOrderCode" column="MENU_ORDER_CODE"/>
        <result property="orderCode" column="ORDER_CODE"/>
        <result property="menuCode" column="MENU_CODE"/>
        <result property="amount" column="AMOUNT"/>
        <result property="menuPrice" column="ORDER_PRICE"/>
    </resultMap>

    <!-- ORDERS-3. 주문내역 조회 -->
    <resultMap id="OrdersStoreResultMap" type="com.dana.danapay.orders.model.dto.OrdersResponseDTO">
        <id property="orderCode" column="ORDER_CODE"/>
        <result property="code" column="CODE"/>
        <result property="orderDate" column="ORDER_DATE"/>
        <result property="totalPrice" column="TOTAL_PRICE"/>
        <result property="totalAmount" column="TOTAL_AMOUNT"/>
        <result property="status" column="STATUS"/>
        <result property="sCode" column="S_CODE"/>
        <collection property="store" resultMap="storeResultMap" />
    </resultMap>
    <resultMap id="storeResultMap" type="com.dana.danapay.store.StoreDTO">
        <id property="sCode" column="S_CODE"/>
        <result property="sId" column="S_ID"/>
        <result property="sName" column="S_NAME"/>
        <result property="sPhone" column="S_PHONE"/>
        <result property="sAddress" column="S_ADDRESS"/>
    </resultMap>


    <!-- ORDERS-1. 선택 메뉴 주문 -->
    <insert id="order" parameterType="com.dana.danapay.orders.model.dto.OrdersDTO">
        <selectKey keyProperty="orderCode" resultType="String" order="BEFORE">
            SELECT TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(ORDERS_SEQ.NEXTVAL, 4, '0') AS orderCode FROM DUAL
        </selectKey>
        INSERT INTO ORDERS
        (ORDER_CODE, CODE, ORDER_DATE, TOTAL_PRICE, TOTAL_AMOUNT, STATUS, S_CODE)
        VALUES
        (#{orderCode}, #{code}, SYSDATE, #{totalPrice}, #{totalAmount}, #{status}, #{sCode})
    </insert>


    <!-- ORDERS-1. 선택 메뉴 주문 - 메뉴 -->
    <insert id="orderMenu" parameterType="com.dana.danapay.orderMenu.model.dto.OrderMenuDTO">
        INSERT INTO ORDER_MENU (MENU_ORDER_CODE, ORDER_CODE, MENU_CODE, AMOUNT, ORDER_PRICE)
        VALUES (#{orderCode} || '-' || LPAD(ORDERS_MENU_SEQ.NEXTVAL, 4, '0'), #{orderCode}, #{menuCode}, #{amount}, #{menuPrice})
    </insert>


    <!-- ORDERS-2. 주문상태 변경 - 업체조회 -->
    <select id="searchSCode" parameterType="com.dana.danapay.orderMenu.model.dto.OrderMenuDTO">
        SELECT S_CODE FROM ORDERS
        WHERE ORDER_CODE = #{orderCode}
    </select>

    <!-- ORDERS-2. 주문상태 변경 -->
    <update id="orderProcess">
        UPDATE ORDERS
        SET STATUS = #{updateStatus}
        WHERE ORDER_CODE = #{orderCode}
    </update>

    <!-- ORDERS-3. 주문내역 조회 -->
    <select id="searchOrders" resultMap="OrdersStoreResultMap">
        SELECT o.*, s.*
            FROM ORDERS o
            LEFT JOIN STORE s ON o.S_CODE = s.S_CODE
        WHERE o.CODE = #{code}
    </select>

    <!-- ORDERS-4. 주문내역 상세조회 -->
    <select id="searchDetailOrders" resultMap="orderMenuResultMap">
        SELECT om.*
        FROM ORDERS o
        JOIN ORDER_MENU om ON om.ORDER_CODE = o.ORDER_CODE
        WHERE om.ORDER_CODE = #{orderCode}
    </select>
</mapper>