<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dana.danapay.auth.model.dao.AuthMapper">

    <resultMap id="loginStore" type="com.dana.danapay.auth.model.dto.LoginUser">
        <id property="code" column="S_CODE"/>
        <result property="name" column="S_NAME"/>
        <result property="id" column="S_ID"/>
        <result property="password" column="S_PASSWORD"/>
        <collection property="roleList" resultMap="authResponse"/>
    </resultMap>

    <resultMap id="loginMember" type="com.dana.danapay.auth.model.dto.LoginUser">
        <id property="code" column="CODE"/>
        <result property="name" column="NICKNAME"/>
        <result property="id" column="ID"/>
        <result property="password" column="PASSWORD"/>
        <collection property="roleList" resultMap="authResponse"/>
    </resultMap>

    <resultMap id="authResponse" type="com.dana.danapay.auth.model.dto.AuthDTO">
        <id property="authCode" column="AUTH_CODE"/>
        <result property="authName" column="AUTH_NAME"/>
    </resultMap>

    <select id="getStorePassword">
        SELECT
             S_PASSWORD
        FROM STORE
        WHERE S_ID = #{id}
    </select>

    <select id="getMemberPassword">
        SELECT
             PASSWORD
        FROM MEMBER
        WHERE ID = #{id}
    </select>


    <select id="findByStoreId" resultMap="loginStore" >
        SELECT
        A.S_ID, A.S_CODE, A.S_NAME, B.AUTH_CODE, B.AUTH_NAME
        FROM STORE A
        JOIN AUTH B ON(A.ROLE = B.AUTH_CODE)
        WHERE A.S_ID = #{id}
    </select>

    <select id="findByMemberId" resultMap="loginMember">
        SELECT
            A.ID, A.CODE, A.NICKNAME, B.AUTH_CODE, B.AUTH_NAME
        FROM MEMBER A
        JOIN AUTH B ON(A.ROLE = B.AUTH_CODE)
        WHERE A.ID = #{id}
    </select>


</mapper>