<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dana.danapay.member.model.dao.MemberMapper">

    <!-- MEMBER-1. 회원가입 -->
    <resultMap id="memberResultMap" type="com.dana.danapay.member.model.dto.MemberDTO">
        <id property="code" column="CODE"/>
        <result property="id" column="ID"/>
        <result property="password" column="PASSWORD"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="balance" column="BALANCE"/>
    </resultMap>


    <!-- MEMBER-1. 회원가입 -->
    <insert id="memberResultMap">
        INSERT INTO MEMBER (CODE, ID, PASSWORD, NICKNAME)
        VALUES (LPAD(MEMBER_SEQ.NEXTVAL, 4, 0), #{id}, #{password}, #{nickname})
    </insert>

    <!-- MEMBER-2. 로그인 - 아이디 조회 -->
    <select id="findById" parameterType="String">
        SELECT * FROM MEMBER WHERE ID = #{id}
    </select>


    <!-- MONEY-2. 예치금 잔액 조회 -->
    <resultMap id="searchMoneyBalanceResultMap" type="com.dana.danapay.member.model.dto.MemberDTO" >
        <id property="code" column="CODE"/>
        <result property="balance" column="BALANCE"/>
    </resultMap>

    <!-- MONEY-2. 예치금 잔액 조회 -->
    <select id="searchMoneyBalance" resultType="int">
        SELECT BALANCE FROM MEMBER
        WHERE CODE = #{code}
    </select>

    <!-- MONEY-3. 예치금 충전/사용 - 잔액 반영 -->
    <update id="chargeMoney">
        UPDATE MEMBER
        SET BALANCE =
            CASE
                WHEN #{option} = '충전' THEN BALANCE + #{money}
                WHEN #{option} = '선물받기' THEN BALANCE + #{money}
                WHEN #{option} = '사용' THEN BALANCE - #{money}
                WHEN #{option} = '선물보내기' THEN BALANCE - #{money}
                ELSE BALANCE
            END
        WHERE CODE = #{code}
    </update>

</mapper>